body,html{padding: 0; border: 0; margin: 0; height: 100%; top: 0;}
.signTop{width: 100%; background-color: cornflowerblue; height: 100px; margin: 0px; border: 0px; padding: 0px;position: absolute;}
.signTop .companyNameAtSignIn{ color: white; margin: 0; border: 0; float: left; padding: 9px 200px 0 300px;}
.signTop .companyNameAtSignIn h1{}
.signTop .signIn{ border:0; float: left; margin: 0 5px 0 0; width: 150px;padding:0;}
.signInLabel{color: white; border: 0; margin: 19px 0 0 0; display: block; width: 150px;padding:0;}
#signInPassword, #signInEmail{border: 0; margin: 5px 0 0 0; display: block; width: 150px;padding:0;height:20px;}
.signInButtonOnly{border:0; margin: 20px 0 0 0; padding: 22px;}
.signInButtonOnly button{background-color: #98b1e6;color: white;}
.signMiddle{border:0;margin:0px; padding:20px 0 0 0;width:100%;background-color: #eaeffa;height:500px;}
.signMiddle .companyPromotionAtSignUp{color: black;border: 0; margin:0; width:200px;padding: 100px 0 0 300px;float: left;
    background-color:#eaeffa; text-align: justify;text-justify: inter-word;} 
.signMiddle .companyPromotionAtSignUp h2{font: italic bold 25px Georgia, serif; }
.signMiddle .signUp{border:0; margin: 90px 0 0 250px; width: 380px;padding: 15px 0 0 0;float: left;background-color: #eaeffa;}
.signMiddle .signUp h1{border:0; margin:0; padding:0;}
.signMiddle .signUp p{border:0; margin:0 0 5px 0; padding:0;font: italic bold 15px/30px Georgia, serif;}
#signUpfName, #signUplName{width:182.5px; border:1px solid black; margin:10px 5px 10px 0; padding:5px; height: 40px; float:left;}
.signMiddle .signUp .signUpTexts{width:370px; height: 40px; border:1px solid black; margin: 0 0 10px 0; padding:5px;}
.signMiddle .signUp button{width:182.5px; height:40px;margin:0;padding:0;background-color: forestgreen;color: white}
.signFooter{border: 0; margin: 0 0 0 600px; padding:0;}
.signTop .accountSummary{color: white;border:0; margin:15px 0 15px 500px; padding:0; width:445px; height: 20px;float: left;}
.signTop .accountSummary p{border: 0; margin: 0; padding: 0;font: italic bold 19px Georgia, serif;width: 445px; height: 20px;}
.signTop .signout{border:0; margin: 15px 0 0 130px; padding: 0; width:182.5px;height:40px;float: left;}
.signTop .signout button{margin:0;padding:5px;background-color: forestgreen;color: white;width:100.5px;height:40px;
    border:1px solid black;}
.signTop .profile{border: 0; margin: 20px 5px 10px 0px; padding: 0; float: left;width: 212.5px; height: 20px;}
.signTop .firstProfile{border: 0; margin: 20px 5px 10px 300px; padding: 0; float: left;width: 212.5px; height: 20px;}
.signTop .balance{border: 0; margin: 20px 5px 10px 0px; padding: 0; float: left;width: 92.5px; height: 20px;}
.signTop .profile .profileLabel, .signTop .firstProfile .profileLabel{color:white; margin: 0; padding: 0; width: 212.5px; height: 20px;
 display: block;}
.signTop .profile .profileVal, .signTop .firstProfile .profileVal{font: italic bold 15px/30px Georgia, serif;color: black;border: 0; 
    padding: 5px; width: 212.5px; height: 30px;display: block; margin: 5px 0 0 0;}
.signTop .balance .profileLabel{color:white; margin: 0; padding: 0; width: 92.5px; height: 20px; display: block;border:0;}
.signTop .balance .profileVal{font: italic bold 15px/30px Georgia, serif;color: black;border: 0;padding: 5px; width: 92.5px; height: 30px;display: block; margin: 5px 0 0 0;}